div{
    background-image: linear-gradient(rgb(26, 150, 217),rgb(32, 145, 116));
    margin: 10px;
    width: 500px;
    height: 300px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

glass.card{
    background-color:rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(14px);
    border: solid 1px rgb(255, 251, 251);
    width: 300px;
    height: 200px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 1px 1px 100px rgb(127, 127, 124);
    color: white;
}